<div class="container">
	<h1>Claymore</h1>
		<table datatable="ng" dt-options="dtOptions" class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Breed</th>
                <th>Cuteness</th>
                <th>Smell</th>
                <th>Color</th>
                <th>Agressiveness</th>
                <th>Food</th>
                <th>Best in Show</th>
                <th data-orderable="false"></th>
            </thead>
            <tbody>
            	<tr ng-repeat="claymore in claymores">
                    <th>{{claymore.name}}</th>
                    <th>{{claymore.breed}}</th>
                    <th>{{claymore.cuteness}}</th>
                    <th>{{claymore.smell}}</th>
                    <th>{{claymore.color}}</th>
                    <th>{{claymore.agressiveness}}</th>
                    <th>{{claymore.food}}</th>
                    <th>{{claymore.bestInShow}}</th>
                    <th><a class="btn btn-default" ui-sref="yeti.claymore.view({claymoreId: claymore._id})">View</a>
                        <a class="btn btn-default" ui-sref="yeti.claymore.edit({claymoreId: claymore._id})">Edit</a>
                    </th>  
                </tr>
            </tbody>
        </table>
        <a class="btn btn-default" ui-sref="yeti.claymore.create">Add</a>

</div>