<div class="container">
    <h1 class="page-title">New Hoss</h1>
    <hr/>
	<div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" ng-model="hoss.name" placeholder="Name">

        <label for="Oliver">Oliver</label>
        <input type="number" class="form-control" ng-model="hoss.oliver" placeholder="Oliver">

        <label for="Stewart">Stewart</label>
        <input type="number" class="form-control" ng-model="hoss.stewart" placeholder="Stewart">

        <label for="Colbert">Colbert</label>
        <input type="text" class="form-control" ng-model="hoss.colbert" placeholder="Colbert">

        <label for="Klepper">Klepper</label>
        <input type="number" class="form-control" ng-model="hoss.klepper" placeholder="Klepper">

        <label for="Meyers">Meyers</label>
        <input type="text" class="form-control" ng-model="hoss.meyers" placeholder="Meyers">

        <label for="Kimmel">Kimmel</label>
        <input type="number" class="form-control" ng-model="hoss.kimmel" placeholder="Kimmel">
    </div>
	<div class="row">
		<a class="btn btn-default" ng-click="addHoss()">Add</a>
	</div>
</div>