<div class="container">
        <div class="pad"></div>
        <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" ng-model="titan.name" placeholder="Name">

        <label for="Marte">Marte</label>
        <input type="number" class="form-control" ng-model="titan.marte" placeholder="Marte">

        <label for="McCutchen">McCutchen</label>
        <input type="number" class="form-control" ng-model="titan.mccutchen" placeholder="McCutchen">

        <label for="Cole">Cole</label>
        <input type="text" class="form-control" ng-model="titan.cole" placeholder="Cole">

        <label for="Glasnow">Glasnow</label>
        <input type="number" class="form-control" ng-model="titan.glasnow" placeholder="Glasnow">

        <label for="Freese">Freese</label>
        <input type="text" class="form-control" ng-model="titan.freese" placeholder="Freese">

        <label for="Kang">Kang</label>
        <input type="number" class="form-control" ng-model="titan.kang" placeholder="Kang">
    </div>
	<div class="row save-style">
		<a class="btn btn-default" ng-click="saveTitan()">Save</a>
		<a class="btn btn-default" ng-click="reset()">Cancel</a>
		<a class="btn btn-default" ng-click="removeTitan()">Delete</a>
	</div>
</div>