<div class="container">
	<div class="form-group">
    	<label for="Name">Name</label>
    	<input type="text" class="form-control" ng-model="claymore.name" placeholder="Name">

    	<label for="Breed">Breed</label>
    	<input type="text" class="form-control" ng-model="claymore.breed" placeholder="Breed">

    	<label for="Cuteness">Cuteness</label>
    	<input type="number" class="form-control" ng-model="claymore.cuteness" placeholder="Cuteness">

    	<label for="Smell">Smell</label>
    	<input type="number" class="form-control" ng-model="claymore.smell" placeholder="Smell">

    	<label for="Color">Color</label>
    	<input type="text" class="form-control" ng-model="claymore.color" placeholder="Color">

    	<label for="Agressiveness">Agressivess</label>
    	<input type="number" class="form-control" ng-model="claymore.agressiveness" placeholder="Agressiveness">

    	<label for="Food">Food</label>
    	<input type="text" class="form-control" ng-model="claymore.food" placeholder="Food">

    	<label for="Best In Show">Best In Show</label>
    	<input type="checkbox" class="form-control" ng-model="claymore.bestInShow" placeholder="Best In Show">

    	<label for="AKC Ranking">AKC Ranking</label>
    	<input type="number" class="form-control" ng-model="claymore.akcDogRanking" placeholder="AKC Ranking">

    	<label for="Personality">Personality</label>
    	<input type="text" class="form-control" ng-model="claymore.personality" placeholder="Personality">

    	<label for="Register Year">Register Year</label>
    	<input type="text" class="form-control" ng-model="claymore.registerYear" placeholder="Register Year">
  	</div>
	<div class="row">
		<a class="btn btn-default" ng-click="saveClaymore()">Save</a>
		<a class="btn btn-default" ng-click="reset()">Cancel</a>
		<a class="btn btn-default" ng-click="removeClaymore()">Delete</a>
	</div>
</div>