<div class="container">
	<div class="notice center">THIS IS A NOTICE OF INTENT</div>
	<nav class="navbar navbar-inverse mini-header" role="navigation">
		<div class="navbar-header">
			<a href="#" class="navbar navbar-brand">
				<img src="/images/YETI_logo2.png" style="width: 170px; vertical-align: middle; margin: -30px -25px 0px -15px">
			</a>
			<ul class="nav navbar-nav navBar-text" >
				<li><a ui-sref="yeti"><span class='glyphicon glyphicon-home' style="margin-right: 5px;"></span>HOME</a></li>
				<li><a ui-sref="yeti.claymore" class="nav-fix"><img src="/images/BwClaymoreCircleLogo.png" class="logoStyle">CLAYMORE</a></li>
				<li><a ui-sref="yeti.orabelle" class="nav-fix"><img src="/images/BwOrabelleCircleLogo.png" class="logoStyle">ORABELLE</a></li>
				<li><a ui-sref="yeti.hoss" class="nav-fix"><img src="/images/BwHossCircleLogo.png" class="logoStyle">HOSS</a></li>
				<li><a ui-sref="yeti.titan" class="nav-fix"><img src="/images/BwTitanCircleLogo.png" class="logoStyle">TITAN</a></li>
				<li><a ui-sref="yeti"><span class='glyphicon glyphicon-list-alt' style="margin-right: 5px;"></span>API</a></li>
				<li><a ui-sref="yeti"><span class='glyphicon glyphicon-user' style="margin-right: 5px;"></span>USERS</a></li>
			</ul>			
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Login</a></li>
			</ul>	
		</div>
	</nav>
</div>