<div class="container">
	<h1>{{claymore.name}}</h1>
	<hr/>
	<div class="row">
		<div class="col-md-4"><span>Name: </span><span>{{claymore.name}}</span></div>
		<div class="col-md-4"><span>Breed: </span><span>{{claymore.breed}}</span></div>
		<div class="col-md-4"><span>Cuteness: </span><span>{{claymore.cuteness}}</span></div>
	</div>
	<div class="row">
		<div class="col-md-4"><span>Smell: </span><span>{{claymore.smell}}</span></div>
		<div class="col-md-4"><span>Color: </span><span>{{claymore.color}}</span></div>
		<div class="col-md-4"><span>Agressiveness: </span><span>{{claymore.agressiveness}}</span></div>
	</div>
	<div class="row">
		<div class="col-md-4"><span>Food: </span><span>{{claymore.food}}</span></div>
		<div class="col-md-4"><span>Best In Show: </span><span>{{claymore.bestInShow}}</span></div>
		<div class="col-md-4"><span>AKC Ranking: </span><span>{{claymore.akcRanking}}</span></div>
	</div>
	<div class="row">
		<div class="col-md-4"><span>Personality: </span><span>{{claymore.personality}}</span></div>
		<div class="col-md-4"><span>Register Year: </span><span>{{claymore.registerYear}}</span></div>
	</div>
	<div class="row">
		<a class="btn btn-default" ui-sref="yeti.claymore.edit({claymoreId: claymore._id})">Edit</a>
	</div>
</div>