<div class="container">
	<h1>{{hoss.name}}</h1>
	<hr/>
	<div class="row">
		<div class="col-md-4"><span>Name: </span><span>{{hoss.name}}</span></div>
		<div class="col-md-4"><span>Oliver: </span><span>{{hoss.oliver}}</span></div>
		<div class="col-md-4"><span>Stewart: </span><span>{{hoss.stewart}}</span></div>
	</div>
	<div class="row">
		<div class="col-md-4"><span>Colbert: </span><span>{{hoss.colbert}}</span></div>
		<div class="col-md-4"><span>Klepper: </span><span>{{hoss.klepper}}</span></div>
		<div class="col-md-4"><span>Meyers: </span><span>{{hoss.meyers}}</span></div>
	</div>
	<div class="row">
		<div class="col-md-4"><span>Kimmel: </span><span>{{hoss.kimmel}}</span></div>
	</div>
	<div class="row">
		<a class="btn btn-default" ui-sref="yeti.hoss.edit({hossId: hoss._id})">Edit</a>
	</div>
</div>