<div class="container view-content">
	<div class="pad"></div>
	<h1 class="page-title2">{{titan.name}}</h1>
	<hr/>
	<div class="row">
		<div class="col-md-4"><span>Name: </span><span>{{titan.name}}</span></div>
		<div class="col-md-4"><span>Marte: </span><span>{{titan.marte}}</span></div>
		<div class="col-md-4"><span>McCutchen: </span><span>{{titan.mccutchen}}</span></div>
	</div>
	<div class="row">
		<div class="col-md-4"><span>Cole: </span><span>{{titan.cole}}</span></div>
		<div class="col-md-4"><span>Glasnow: </span><span>{{titan.glasnow}}</span></div>
		<div class="col-md-4"><span>Freese: </span><span>{{titan.freese}}</span></div>
	</div>
	<div class="row">
		<div class="col-md-4"><span>Kang: </span><span>{{titan.kang}}</span></div>
	</div>
	<div class="row">
		<a class="btn btn-default edit-style" ui-sref="yeti.titan.edit({titanId: titan._id})">Edit</a>
	</div>
</div>